## 1. 파일 불러오기

In [4]:
#마에스트로 노트북 파일불러오기
import pandas as pd
av2018 = pd.read_csv("C:/Users/CPB02GameN/Desktop/avocado project/use data/2018avocado.csv")
av2019 = pd.read_csv("C:/Users/CPB02GameN/Desktop/avocado project/use data/2019avocado.csv")
av2020 = pd.read_csv("C:/Users/CPB02GameN/Desktop/avocado project/use data/2020avocado.csv")
av = pd.read_csv("C:/Users/CPB02GameN/Desktop/avocado project/use data/avocado.csv", index_col = "Unnamed: 0")

In [ ]:
#집노트북으로 파일불러오기
import pandas as pd
av2018 = pd.read_csv("C:/Users/사용자/Desktop/과제/마에스트로 과제/avocado project/사용한데이터/2018avocado.csv")
av2019 = pd.read_csv("C:/Users/사용자/Desktop/과제/마에스트로 과제/avocado project/사용한데이터/2019avocado.csv")
av2020 = pd.read_csv("C:/Users/사용자/Desktop/과제/마에스트로 과제/avocado project/사용한데이터/2020avocado.csv")
av =  pd.read_csv("C:/Users/사용자/Desktop/과제/마에스트로 과제/avocado project/사용한데이터/avocado.csv",index_col = "Unnamed: 0")

In [5]:
av.shape

(18249, 13)

## 2. 2018,2019,2020 파일 전처리

In [6]:
#년도 뒤에 00:00 지우기 
for i in range(len(av2018)):
    av2018['Date'][i] = str(av2018['Date'][i])[0:10]
for i in range(len(av2019)):
    av2019['Date'][i] = str(av2019['Date'][i])[0:10]
for i in range(len(av2020)):
    av2020['Date'][i] = str(av2020['Date'][i])[0:10]

C:\Users\CPB02GameN\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\CPB02GameN\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\CPB02GameN\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [7]:
# year 변수 추가하기
av2018['year'] = 0
av2019['year'] = 0
av2020['year'] = 0
for i in range(len(av2018)):
    av2018['year'][i] = str(av2018['Date'][i])[0:4]
for i in range(len(av2019)):
    av2019['year'][i] = str(av2019['Date'][i])[0:4]
for i in range(len(av2020)):
    av2020['year'][i] = str(av2020['Date'][i])[0:4]

C:\Users\CPB02GameN\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\CPB02GameN\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\CPB02GameN\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

## 3. Kaggle data와 2018,2019,2020데이터 합치기

In [8]:
# 겹치는 2018년 데이터 제거하기
av = av[av["year"] != 2018]

In [9]:
#데이터 합치기
avocado = pd.concat([av] + [av2018] + [av2019]+ [av2020], axis = 0, ignore_index = True)
avocado.dtypes

Date             object
AveragePrice    float64
Total Volume    float64
4046            float64
4225            float64
4770            float64
Total Bags      float64
Small Bags      float64
Large Bags      float64
XLarge Bags     float64
type             object
year              int64
region           object
dtype: object

In [10]:
#type 변수 organic이랑 conventional으로 통합
avocado.loc[avocado['type']=='Organic','type']='organic'
avocado.loc[(avocado['type']=='Conventional')|(avocado['type']=='Conventional '),'type']='conventional'
avocado['type'].value_counts()
avocado.dtypes

Date             object
AveragePrice    float64
Total Volume    float64
4046            float64
4225            float64
4770            float64
Total Bags      float64
Small Bags      float64
Large Bags      float64
XLarge Bags     float64
type             object
year              int64
region           object
dtype: object

In [11]:
#지역 이름 통일하기
avocado["region"]=avocado['region'].str.replace("/","")
avocado["region"]=avocado['region'].str.replace(".","")
avocado["region"]=avocado['region'].str.replace(" ","")
avocado

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.00,conventional,2015,Albany
1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.00,conventional,2015,Albany
2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.00,conventional,2015,Albany
3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.00,conventional,2015,Albany
4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.00,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29584,2020-03-29,1.71,319478.21,10238.36,29135.42,1436.43,278668.00,142226.87,136277.55,163.58,organic,2020,West
29585,2020-04-19,1.63,28991.82,1307.40,1007.02,3007.50,23669.90,18937.02,4732.88,0.00,organic,2020,WestTexNewMexico
29586,2020-04-12,1.72,16063.00,1632.59,1111.49,2203.91,11115.01,6040.80,5074.21,0.00,organic,2020,WestTexNewMexico
29587,2020-04-05,1.67,26787.67,721.03,920.86,4109.45,21036.33,15924.92,5111.41,0.00,organic,2020,WestTexNewMexico
29588,2020-03-29,1.60,24544.94,638.96,693.39,2963.42,20249.17,17197.35,3051.82,0.00,organic,2020,WestTexNewMexico

In [12]:
# 변수 region에서 TotalUS, California, West, Plains, SouthCentral, Southeast, Midsouth, Northeast, GreatLakes 제거
avocado = avocado[avocado['region'] != 'TotalUS']
avocado = avocado[avocado['region'] != 'California']
avocado = avocado[avocado['region'] != 'West']
avocado = avocado[avocado['region'] != 'Plains']
avocado = avocado[avocado['region'] != 'SouthCentral']
avocado = avocado[avocado['region'] != 'Southeast']
avocado = avocado[avocado['region'] != 'Midsouth']
avocado = avocado[avocado['region'] != 'Northeast']
avocado = avocado[avocado['region'] != 'GreatLakes']

In [13]:
# Date 변수를 datetime 타입으로 변환
avocado['Date'] = pd.to_datetime(avocado['Date'])
avocado.sort_values('Date',ignore_index = True,inplace = True)
avocado['Date'].isnull().value_counts()

False    24657
Name: Date, dtype: int64

In [14]:
avocado.dtypes

Date            datetime64[ns]
AveragePrice           float64
Total Volume           float64
4046                   float64
4225                   float64
4770                   float64
Total Bags             float64
Small Bags             float64
Large Bags             float64
XLarge Bags            float64
type                    object
year                     int64
region                  object
dtype: object

In [15]:
#결측치 확인하기
import numpy as np
print(np.count_nonzero(avocado.isnull()))

0

## 4. Month, Season 변수 만들기

In [16]:
#month 변수 만들기
avocado['month'] = 0
for i in range(len(avocado)):
    avocado['month'][i]=str(avocado['Date'][i])[5:7]

C:\Users\CPB02GameN\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [17]:
#season 변수 만들기
avocado['season'] = 0
boolvec = (avocado['month']==3)|(avocado['month']==4)|(avocado['month']==5)
boolvec1 = (avocado['month']==6)|(avocado['month']==7)|(avocado['month']==8)
boolvec2 = (avocado['month']==9)|(avocado['month']==10)|(avocado['month']==11)
boolvec3 = (avocado['month']==12)|(avocado['month']==1)|(avocado['month']==2)

avocado.loc[boolvec,'season']='spring'
avocado.loc[boolvec1,'season']='summer'
avocado.loc[boolvec2,'season']='fall'
avocado.loc[boolvec3,'season']='winter'

In [18]:
#결측치 확인하기
import numpy as np
print(np.count_nonzero(avocado.isnull()))

0

In [19]:
avocado.shape

(24657, 15)

## 5. 전처리 파일 저장하기

In [19]:
#학교 노트북에 저장
avocado.to_csv("C:/Users/CPB02GameN/Desktop/avocado project/파이썬활용발표 포함avocado project 2(0626~)/avocadofinalchange.csv")

In [ ]:
#집 노트북에 저장
avocado.to_csv("C:/Users/사용자/Desktop/과제/마에스트로 과제/avocado project/최종수정데이터/avocado1.csv")